.carousel {
    padding: 81px 20px;

    &__h2 {
        &__title {
            margin-bottom: 50px;
        }

    }

    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    [data-controls=prev] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -60px;
        border: none;
        background-color: #fff;

        img {
            width: 30px;
            height: 50px;
        }
    }

    [data-controls=next] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -60px;
        border: none;
        background-color: #fff;

        img {
            width: 30px;
            height: 50px;
        }
    }

    [data-action="stop"],
    [data-action="start"] {
        display: none;
    }

    .tns-item {
        img {
            display: block;
            margin: 0, auto;
        }
    }

    .tns-nav {
        margin-top: 20px;
        text-align: center;


        button {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background-color: $main-color;
        }

        .tns-nav-active {
            background-color: $hover-color;

        }
    }
}