//@media(max-width:1170px) {
//    .container {
//        width: 100%
//    }
//}
@media (max-width: 1075px) {

    [data-controls=prev],
    [data-controls=next] {
        display: none;
    }
}

@media (max-width: 980px) {
    .promo {
        padding: 20px 0 40px 0;
    }

    .promo__wrapper {
        margin: 40px 10px 10px 10px;
    }

    .header {
        margin: 4px 6px;
    }

    .advantages {
        padding: 20px 0 40px 0;
    }

    .advantages__wrapper {
        margin-top: 30px;
    }

    .advantages__item {
        margin: 4px 6px;
    }

    .consultation {
        padding: 60px 0 40px 0;

        .container {
            padding: 40px 40px;
        }

        .title {
            &_left {
                font-size: 28px;
            }
        }

    }

    .catalog__content {
        &_active {
            margin-top: 25px !important;
            justify-content: center !important;
        }

    }




    .catalog-item {
        margin: 20px 20px;
    }

    //.slick-slide {
    //    img {
    //        vertical-align: middle;
    //        border-style: none;
    //        width: 70%;
    //        margin: 0 auto;
    //    }
    //}

}

@media (max-width: 750px) {


    .header__official {
        display: none;
    }

    .header__logo {
        width: 186px;
    }

    .header__official span {
        font-size: 16px;
    }

    .header__phone {
        font-size: 16px;
        font-weight: 500;
    }

    .promo {
        min-height: 500px;
    }

    .promo__header {

        font-size: 36px;
        line-height: 36px;
    }

    .promo__subheader {
        margin-top: 10px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
    }

    .promo__icons {
        margin-top: 30px;
    }

    .button_main {
        margin-top: 50px;
        width: 250px;
        height: 40px;
        font-size: 15px;
    }

    .advantages {
        .title {
            font-size: 22px;
        }
    }

    .advantages__item {
        img {
            width: 20%;
        }

    }

    .advantages__descr {
        margin-top: 18px;
        color: #0d0d0d;
        font-size: 12px;
    }

    .advantages__subtitle {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
    }

    .promo__link a {
        font-weight: 500;
    }

    .consultation {
        min-height: 650px;
        padding: 40px 0 20px 0;

        .title {
            &_left {
                font-size: 22px;
            }
        }

        .consultation__descr {
            font-size: 18px;
        }

    }

    .catalog {
        padding-bottom: 50px !important;

    }

    .catalog__tabs {
        margin-top: 25px;
    }

    .catalog {
        .container {
            .catalog__tab {
                width: 160px;
                height: 45px;
                font-weight: 700;
                font-size: 16px;
                line-height: 40px;
            }
        }
    }
}

@media (max-width: 690px) {
    .advantages__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .advantages__item {
        margin-top: 15px;
    }
}

@media (max-width: 610px) {
    .consultation {
        .title {
            &_left {
                font-size: 18px;
            }
        }

        .consultation__descr {
            font-size: 16px;
        }

    }
}

@media (max-width: 540px) {
    .catalog {
        .container {
            .catalog__tab {
                margin-bottom: 10px;
            }
            .catalog__tabs {
                flex-direction: column;
                align-items: center;
                
            }
        }
    }
}

@media (max-width: 510px) {
    .consultation {
        min-height: 475px;

        .title {
            &_left {
                font-size: 14px;
            }
        }

        .consultation__descr {
            font-size: 12px;
            line-height: 14px;
        }

        .feed-form {
            width: 250px;
        }
    }

}

@media (max-width: 410px) {
    .consultation {
        .container {
            padding: 20px 20px;
        }
    }

    .header__logo {
        width: 120px;
    }

    .header__phone {
        display: none;
    }

    .promo__link a {
        font-size: 14px;
    }

    .promo__icons {
        margin-top: 30px;
        width: 300px;
    }

    .promo__icon {
        width: 98px;
        text-align: center;
        font-size: 13px;
        line-height: 13px;
    }

    .promo__wrapper {
        margin: 30px 10px 10px 10px;
        align-items: center;
    }

    .promo__header {
        font-size: 22px;
        line-height: 22px;
    }

    .promo__subheader {
        margin-top: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    .consultation {
        .title {
            &_left {
                font-size: 12px;
            }
        }

        .consultation__descr {
            font-size: 12px;
            line-height: 12px;
        }

    }

    .button_submit {
        font-size: 12px;
    }


}

@media (max-width: 365px) {
    .consultation {
        .title {
            &_left {
                font-size: 12px;
            }
        }

        .consultation__descr {
            font-size: 10px;
            line-height: 10px;
        }

    }
}